﻿@{
    Layout = "~/Presentation/Shared/_CegedimLayout.cshtml";
}
@using Actisure.Services.Authorization.Infrastructure.Resources
@model Actisure.Services.Authorization.Presentation.Account.LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="row d-flex justify-content-center" id="login-box">
    <div class="col-md-4 col-md-offset-4">
        @Html.HiddenFor(x => x.PostLogoutRedirectUri, new { id = "redirect-url" })
        <div class="panel panel-default">
            <div class="space"></div>
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <p>
                    @AuthResources.LoggedOutSuccess_Message
                </p>
                <div class="panel-footer">
                    <div class="form-group">
                        <a class="btn btn-primary" href="@Model.PostLogoutRedirectUri">@AuthResources.Return_Label</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
