@{
    Layout = "~/Presentation/Shared/_CegedimLayout.cshtml";
}
@using Actisure.Services.Authorization.Infrastructure.Resources
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model Actisure.Services.Authorization.Presentation.Account.LoginViewModel

<div class="row d-flex flex-column" id="login-box">
    <div class="row d-flex justify-content-center validation-summary">
        @if (ViewContext.ModelState.IsValid == false)
        {

            var errorMessage = 
                ViewContext.ModelState
                    .Values
                    .First(field => field.ValidationState == ModelValidationState.Invalid)
                    .Errors.First().ErrorMessage;

            <div class="alert alert-danger">
                @errorMessage
            </div>
        }
    </div>
    <div class="row d-flex justify-content-center">
        <div class="panel panel-default">
            <div class="space"></div>
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <form asp-route="Login">
                    <fieldset>
                        <legend hidden>Login</legend>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <em class="fa fa-user"></em>
                            </span>
                            <input class="form-control" placeholder="@AuthResources.Username_Placeholder" asp-for="Username" required autofocus maxlength="100" autocomplete="off">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <em class="fa fa-key"></em>
                            </span>
                            <input class="form-control" placeholder="@AuthResources.Password_Placeholder" asp-for="Password" required maxlength="100" autocomplete="off">
                        </div>
                        @if (Model.AllowRememberLogin)
                        {
                            <div class="form-group login-remember" ng-show="model.allowRememberMe">
                                <input class="form-check-input" asp-for="RememberLogin">
                                <label for="RememberLogin">
                                    <strong>@AuthResources.RememberMe_Label</strong>
                                </label>
                            </div>
                        }
                        <div class="form-group">
                            <button class="btn btn-primary" name="button" value="login">@AuthResources.Login_Label</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

