﻿body {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-color: #68AAAC;
    background-image: url("../images/background.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover !important;
    padding-top: 15em !important;
}

.btn-primary {
    background-color: #4BABDF;
    border: none;
    border-radius: 2px !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    width: 100% !important;
}

.btn-primary:hover { background-color: #3E8FBB; }

.input-group {
    margin-bottom: 10px;
    width: 100%;
}

fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

.panel-heading {
    background-image: url("../images/activus_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: none;
    height: 110px;
    text-align: center;
}

.panel-body {
    background-color: #f5f5f5 !important;
    padding: 15px;
    padding-bottom: 30px !important;
    text-align: center;
}

.space {
    background-color: #f5f5f5 !important;
    height: 20px;
}

.panel {
    -moz-box-shadow: 0 0 28px 0 #000000;
    -moz-box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0 0 28px 0 #000000;
    -webkit-box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.59);
    box-shadow: 0 0 28px 0 #000000;
    box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.59);
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    min-width: 360px;
}

.input-group-addon {
    border: 1px solid #cccccc;
    border-right: none !important;
    color: #ccc;
    min-width: 39px;
    padding: 6px 12px;
    text-align: center;
}


.input-group input { border-left: none !important; }

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #cccccc !important;
    border-left: none !important;
    box-shadow: none !important;
    outline: 0 !important;
    outline-color: transparent !important;
    outline-style: none !important;
}

.alert {
    flex-grow: 1;
    text-align: center;
}

.input-group textarea {
    border-radius: 2px !important;
    height: 55px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    resize: none;
    text-align: center;
    text-transform: uppercase;
    width: 100% !important;
}

.panel-default > .panel-heading {
    background-color: #f5f5f5;
    border-color: #dddddd;
    color: #333333;
}

.validation-summary {
    margin-left: 25%;
    width: 50%;
}