@{
    Layout = "~/Presentation/Shared/_CegedimLayout.cshtml";
}
@model Actisure.Services.Authorization.Presentation.Home.ErrorViewModel

@{
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId;
}

<div class="row d-flex justify-content-center" id="login-box">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="space"></div>
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <p>
                    @errorDescription
                    <br />
                    <div class="input-group">
                        <textarea class="form-control" readonly="readonly">@request_id</textarea>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
